.floatImg2 {
  text-align: right !important;
  top: 100px;
margin-right: 0 !important;
}
.floatImg1 {
  position: absolute !important;
  top: 100px;
  margin-left: 0 !important;
}
.floatImg3 {
  left:25.3% !important;
  position: absolute !important;
  top: 58%;
}

.card {
  display: block;
  padding: 30px;
  margin-top: 60px;
  box-shadow: 0 0.5pt 10pt rgb(0 0 0 / 10%);
  border-radius: 5px;
  /* z-index: 9; */
  position: relative;
  background: white;
}
.card h5 {
  font-family: "subHeading";
  margin-bottom: 20px;
}
.pushDown {
  margin-bottom: 30px;
}
.pushDown1 {
  margin-top: 37px;
}
.socialText {
  display: inline-block;
  vertical-align: top;
  margin-left: 3px;
}
.afterSocialText {
  margin-top: 35px !important;
  margin-left: auto;
  margin-right: auto;
}
.socialSection {
  margin-top: -21px;
}
.primaryy button{
  background-color: #00d9b6;
  color: #ffffff;
  height: 58px;
  width: 423px;
  border-radius: 100px;
  margin-top: 20px;
  margin-left: 20px;
  align-items: center;
  text-align: center;
  border: none;
}
.Email{
  border: none;
  border-bottom: 1px solid black ;
  width:60vh;
  margin-bottom: 30px;
}
.resetContainer {
  height: 475px;
  width: 491px;
  border: 1px solid #e9e3e3;
 margin-left: auto;
 margin-right: auto;
  padding-top: 5%;
  padding-left: 1%;
  padding-right: 2%;
  margin-top: -1%;
  border-radius: 8px 8px 0px 0px;
  box-shadow: 0 0.5pt 10pt rgb(0 0 0 / 10%);
}

@media screen and (max-width: 900px) {
  
  .floatImg3 {
    visibility: hidden !important;
  }
}
@media screen and (max-width: 1200px) {
  
  .floatImg3 {
    visibility: hidden !important;
  }
}
@media screen and (max-width: 540px) {
  
  .floatImg3 {
    visibility: hidden !important;
  }
  .floatImg2 {
    margin-right: 0 !important;
   
  }
  .resetContainer {
    height: 475px;
    border: none !important;
    padding-top: 5%;
    padding-left: 5%;
    margin-top: 1%;
    border-radius: none !important;
  }
  .centerr {
    height: 18px;
    font-weight: 600;
    font-size: 15px !important;
    font-weight: 700;
    line-height: 31px;
    color: #000000;
   font-family: "subHeading";
  }
  .centerrr {
    height: 48px;
    width: 100% ;
    top: 96px;
    font-weight: 400;
    margin-bottom: 40px; 
  }
  .primaryy {
    background-color: #00d9b6;
    color: #ffffff;
    height: 38px;
    width: 250px;
    border-radius: 100px;
    margin-top: 60px;
    margin-left: 90px !important;
  }
}
  @media screen and (max-width: 420px) {
    .primaryy {
      margin-left: 60px !important ;
    }
    .floatImg22{
      padding-left: 0 !important;
    }
}
