.dashboardFirstSection,
.dashboardFirstSection4,
.dashboardFirstSection1 {
  background-repeat: no-repeat;
  background-position: 50%;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  padding-top: 100px;
  margin: 0;
  border-radius: 5px 5px 0 0;
}
.corsedetailswrapper {
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.corsedetailswrappertwo {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.corsedetailswrappertwo .iconswrapper {
  background-color: grey;
  color: #fff;
}

.iconswrapper {
  background-color: #fff;
  color: #000;
  border-radius: 50px;
  padding: 10px;
  margin-right: 5px;
}

.innerwrapperrecon {
  background-color: blue;
  display: flex;
  flex-direction: row;
  /* width: 0%; */
}

.dashboardFirstSection {
  background-image: radial-gradient(rgba(0, 0, 0, 0.17), rgba(0, 0, 0, 0.99)),
    url('./../../../../public/assets/img/features/dashboard/student/dashboard.png');
  height: 637px;
}
.dashboardFirstSection1 {
  background-image: radial-gradient(rgba(0, 0, 0, 0.17), rgba(0, 0, 0, 0.99)),
    url('./../../../../public/assets/img/features/dashboard/student/student.png');
  height: 60vh;
}
.dashboardFirstSection2 {
  background-image: radial-gradient(rgba(0, 0, 0, 0.17), rgba(0, 0, 0, 0.99)),
    url('./../../../../public/assets/img/features/dashboard/student/student.png');
  height: 280px;
}
.dashboardFirstSection3 {
  background-image: radial-gradient(rgba(0, 0, 0, 0.17), rgba(0, 0, 0, 0.99)),
    url('./../../../../public/assets/img/features/dashboard/teacher/classroom-2787754_1920 1.png');
  height: 280px;
}
.dashboardFirstSection4 {
  background-image: radial-gradient(rgba(0, 0, 0, 0.17), rgba(0, 0, 0, 0.99)),
    url('./../../../../public/assets/img/features/dashboard/student/dashboard.png');
  height: 500px;
}

.myModal,
.modalSecond1,
.modal-content {
  /* width: 100% !important; Occupy the 90% of the screen width */
  /* max-width: 50vw; */
  border-radius: 13px;
}

/* .modal-content {border-radius: 40px;} */
.dashboardFirstSection h1 {
  font-family: 'heading';
  text-align: center;
  font-size: 125px;
  margin-top: 50px;
  margin-bottom: 90px;
  text-transform: uppercase;
}
.push2 {
  padding: 16px 90px;
}

.push2e {
  background: url('./../../../../public/assets/img/features/dashboard/student/crownTheme.png');
  width: 280px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
}

.push3 {
  font-size: 14px;
  position: absolute;
  bottom: 10px;
}
.subHeadingTitle {
  padding: 40px 100px;
  font-family: 'subHeading';
}
.subjectBox {
  display: block;
  text-align: center;
  background: #f1f2f4;
  border-radius: 20px;
  padding: 34px 20px;
}

.contai {
  /* display: grid; */
  /* grid-t: repeat(10, 1fr); */
  width: 1300px;
  /* background-color: yellow; */
  /* height: 500px; */
  margin: auto;
}

.modalHeroPage {
  width: 80%;
}

.mySubjectt {
  height: 250px;
  width: 200px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}
.mySubjectt button {
  background: #f1f2f4;
  height: 100%;
  width: 100%;
  text-align: center;
  border-radius: 30px;
  border: none;
}
.mySubjectt button p {
  width: 100px;
  margin: auto;
}
.mySubjectt :hover {
  background-color: #ffffff !important;
  /* border: 1px solid #f1f2f4; */
  box-shadow: 0 0.5pt 20pt rgb(0 0 0 / 10%);
}

.mySubjectt p :hover {
  background-color: none !important;
  /* border: 1px solid #f1f2f4; */
  box-shadow: none;
}
.mySubjecttt {
  margin-bottom: 2%;
}
.mySolutionBox {
  background: linear-gradient(90.02deg, #33334f 0.02%, #171738 113.01%);
  border-radius: 17.1661px;
  color: #ffffff;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  margin-right: 3%;
}
.mySolutionBox h5 {
  line-height: 30px;
  width: 300px;
  padding-bottom: 60px;
  padding-top: 30px;
}
.LinkBox2 {
  background: url('/assets/img/features/dashboard/student/Getsolution.png');
  background-repeat: no-repeat;
  height: 220px;
}
.mySolutionBox2 {
  background: url('/assets/img/features/dashboard/student/Backgroundd.png');
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 2%;
  height: 272px;
  width: 606.26513671875px;
  border-radius: 16.385547637939453px;

  border-radius: 17.1661px;
}
.mySolutionBoxWord {
  display: flex;
  flex-direction: row;
}
.mySolutionBoxWord p {
  font-size: 25px;
  font-weight: 700;
  width: 149.11px;
  height: 31.13px;
}
.mySolutionBoxCoin {
  background-color: #3e3e3e;
  width: 95.04px;
  margin-bottom: 15%;
  margin-left: 80%;
  text-align: right !important;
}
.mySolutionBoxMin {
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  text-align: right !important;
}
.LinkBoxxs {
  background-color: #fff;
  color: black;
  text-align: center;
  border-radius: 100px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  padding-top: 10px;
  height: 57.41360855102539px;
  width: 298.55078125px;
}
/* ---------------modal-styling----------------- */

.modalHero {
  background-image: radial-gradient(rgba(0, 0, 0, 0.17), rgba(0, 0, 0, 0.99)),
    url('./../../../../public/assets/img/features/dashboard/student/dashboard.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  color: #fff;
  height: 180%;
  padding-top: 10%;
  padding-bottom: 2%;
  margin-bottom: 3%;
}

.modalHero h1 {
  font-size: 50px;
  text-align: center;
  font-weight: 700;
  padding-bottom: 5%;
}
.modalHero h5 {
  font-size: 20.52px;
  font-weight: 700;
  padding-left: 7%;
  width: 270.52px;
}
.modalHero p {
  font-size: 15px;
  padding-left: 7%;
}
.modalHero h6 {
  font-size: 15px;
  color: #00d9b6;
  padding-left: 7%;
}
.modalSecond {
  margin-bottom: 3%;
}
.modalSecond h6 {
  color: #29465b;
  font-weight: 600;
  font-size: 17px;
}
.modalSecond p {
  font-size: 14px;
}
.modalSecondFirst p {
  line-height: 180%;
}
.modalThird {
  background: #f1f2f4;
  border-radius: 15px;

  padding: 2%;
  margin-bottom: 3%;
}
.modalThird h6 {
  background: #00d9b6;
  border-radius: 100px;
  color: #29465b;
  height: 35px;
  width: fit-content;
  border-radius: 100px;
  text-align: center;
  cursor: pointer;
  padding: 10px 15px 0;
}
.join {
  margin: 0 100px;
}

.joinClass {
  /* width:150px; */
  font-size: 12px;
  background: #f5f5f5;
  border: 2px solid #333333;
  border-radius: 6px;
  color: #333333;
  text-align: center;
}

.classComment {
  display: flex;
  gap: 15px;
  margin-left: 100px;
  align-content: center;
  margin-bottom: 70px;
}
.classCommentRight {
  background: url('/assets/img/features/dashboard/student/Ellipse.png');
  height: 14px;
  width: 14px;
  align-self: center;
}

.fontSize {
  font-weight: 700;
  font-size: 72px !important;
  line-height: 75px;
  text-align: center;
  margin: 80px auto !important;
  text-transform: capitalize !important;
}
.modalContainer {
  border: 2px solid red;
  padding: 7px;
}

.pastQuestionh1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 94px;
  text-align: center;
  color: #ffffff;
}

.modalBodyButton:hover {
  border: 1px solid #00d9b6;
  box-shadow: 0px 0.648094px 4.53666px rgba(0, 0, 0, 0.15);
  border-radius: 9.72141px;
  padding: 7px;
}

.pastQuestionh1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 94px;
  text-align: center;
  color: #ffffff;
}

.modalBodyButton:hover {
  border: 1px solid #00d9b6;
  box-shadow: 0px 0.648094px 4.53666px rgba(0, 0, 0, 0.15);
  border-radius: 9.72141px;
}

.graybutton {
  background: gray !important;
  cursor: not-allowed;
}

@media screen and (min-width: 1200px) {
  .dashboardFirstSection,
  .dashboardFirstSection4,
  .dashboardFirstSection1 {
    padding-left: 60px;
  }
}
@media screen and (max-width: 1000px) {
  .dashboardFirstSection h1 {
    font-size: 90px !important;
  }
  .modalSecond div {
    margin-top: 20px;
  }
}
@media screen and (max-width: 820px) {
  .subHeadingTitle {
    padding: 40px 20px;
  }
  .pointers {
    display: none;
  }
}
@media screen and (max-width: 415px) {
  .fontSize {
    font-size: 60px !important;
  }
  .modalSecond div {
    margin-top: 20px;
  }
}
@media screen and (max-width: 376px) {
  .dashboardFirstSection h1 {
    font-size: 50px !important;
    margin-top: 100px;
  }
  .fontSize {
    font-size: 30px !important;
  }
  .push2 {
    padding: 5px 9px;
  }

  .subHeadingTitle {
    padding: 40px 30px;
  }
  .mySubjectt {
    margin: 20px auto;
  }
}
