.cont {
  width: 240px;
  height: 160px;
  margin: auto;
}
.contList {
  position: relative;
}

.topInClass {
  width: 1250px;
}
.rectBox {
  color: rgba(0, 0, 0, 0.4);
  border-radius: 7px;
}

.rect {
  position: absolute;
  top: 0;
  left: 0;
}

.play_pause {
  position: absolute;
  top: 66px;
  left: 105px;
}

.play_paus2 {
  position: absolute;
  top: 49px;
  left: 65px;
}
.play_text {
  width: 240px;
  padding: 10px 15px;
}

.play_text h6 {
  font-size: 14px;
}

.play_text p {
  color: #a6a6a6;
  font-size: 12px;
}

.contRec {
  display: grid;
  margin-bottom: 25px;
  grid-template-columns: 21% 79%;
}

.play_textRecFirstp {
  color: #a6a6a6;
  margin: 0;
}

.buttonStyle {
  border: 0.956522px solid #333333;
  border-radius: 95.6522px;
  display: flex;
  align-content: center;
  padding:  3px 7px;
  column-gap: 5px;
}

.play_textRec h6 {
  margin-top: 15px;
}

.contListRead{
  background-color: rgba(0, 0, 0, 0.4);
  width: 240px;
  height: 160px;
  border-radius: 7px;
display: grid;
justify-content: center;
align-content: center;
}