.commentPage {
  padding: 15px;
  width: 1180px;
  height: 600px;
  margin: auto;
  margin-bottom: 50px;
  position: relative;
}

.commentwrapper:hover {
  border: 1px solid #000000;
}

.commentwrapper {
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  display: grid;
  grid-template-columns: 10% 90%;
  align-self: center;
  padding: 20px 32px;
  box-sizing: border-box;
}

.commentCont > .h3 {
  margin-bottom: 0;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
}

.commentCont > .p {
  color: #969bab;
  font-weight: 500;
  font-size: 14px;
  font-feature-settings: "salt" on, "liga" off;
  color: #969bab;
}

.commentImg {
  opacity: 0.3 !important;
}

.list1 {
  width: 350px;
  /* height: 300px; */
  left: 34px;
  top: 107px;
  position: absolute;
  display: grid;
  align-content: center;
}
.list2 {
  position: absolute;
  width: 445px;
  /* height: 268px; */
  left: 0;
  top: 352px;
  display: grid;
  align-content: center;
}
.list3 {
  display: grid;
  align-content: center;
  position: absolute;
  width: 445px;
  height: 268px;
  left: 389px;
  top: 4px;
}
.list4 {
  display: grid;
  align-content: center;
  position: absolute;
  width: 350px;
  height: 204px;
  left: 460px;
  top: 249px;
}
.list5 {
  position: absolute;
  width: 350px;
  height: 204px;
  left: 455px;
  top: 452px;
  display: grid;
  align-content: center;
}
.list6 {
  position: absolute;
  width: 350px;
  height: 204px;
  left: 840px;
  top: 61px;
  display: grid;
  align-content: center;
}
.list7 {
  position: absolute;
  width: 350px;
  height: 300px;
  left: 820px;
  top: 228px;
  display: grid;
  align-content: center;
}

@media screen and (max-width: 1148px) {
  .commentPage {
    height: 900px;
    width: 760px;
    margin: auto;
  }
  .list6 {
    left: 429px;
    top: 618px;
  }
  .list7 {
    left: 90px;
    top: 528px;
  }
}

@media screen and (max-width: 788px) {
  .commentPage {
    height: 1550px;
    width: 445px;
    margin: auto;
  }
  .list7 {
    left: 42px;
    top: 528px;
  }

  .list3 {
    left: 0px;
    top: 751px;
  }
  .list4 {
    left: 35px;
    top: 1005px;
  }
  .list5 {
        left: 27px;
    top: 1192px;
  }
  .list6 {
    left: 36px;
    top: 1337px;
  }
}

@media screen and (max-width: 330px) {
  
}