.mainheading {
  font-family: heading;
  font-size: 65px;
  margin-top: 80px;
  color: #29465b;
}
.underHeadingP {
  margin-top: 30px;
  padding-right: 83px;
  color: #333333;
}
.afterSubHeading {
  margin-top: 40px;
}
.joinForFree {
  /* border: solid 1px black; */
  background-color: #00d9b6;
  color: white !important;
  padding: 10px 20px !important;
  border-radius: 39px;
}

.joinForGames {
  border: solid 1px #00d9b6;
  background-color: #00d9b6;
  color: white !important;
  padding: 10px 30px !important;
  border-radius: 39px;
  width: 180px !important;
  display: grid;
}
.experienceAfrilearn {
  border: solid 1px black;
  padding: 10px 20px !important;
  border-radius: 39px;
  margin-right: 20px;
  background: white;
}

@media screen and (max-width: 1199px) {
  .afterSubHeading_button {
    width: 250px !important;
    margin-bottom: 25px;
  }
  .afterSubHeading_button2 {
    width: 350px !important;
  }

  .afterSubHeading {
    display: block;
    margin-top: 22px;
    height: 90px;
  }

  .mainheading {
    font-size: 40px;
  }
}

.experienceAfrilearnImg {
  top: 2px !important;
  left: -7px !important;
}

@media screen and (max-width: 978px) {
  .experienceAfrilearnImg {
    top: 167px !important;
  }
  /* .imageTag {
    position: absolute;
    top: -16px;
    right: 17px;
  } */
}
.joinForFree:hover,
.experienceAfrilearn:hover {
  cursor: pointer;
}
.homepageSecondSectionh2 {
  font-family: "heading";
  font-size: 40px;
  margin-top: 50px;
  text-align: center;
}
.secondSectionul {
  text-align: center;
  margin: 30px 0;
  list-style: none;
  padding: 0;
  border-bottom: solid 1px lightgrey;
}
.secondSectionul li {
  display: inline-block;
  margin-right: 10px;
  padding: 17px 27px;
}

.secondSectionul span {
  display: inline-block;
  border-left: solid 3px #00d9b6;
  height: 21px;
  position: relative;
  top: 6px;
  left: -11px;
}
.activeOption {
  background: #f4f5f7;
  color: #00d9b6 !important;
}
.profiles {
  margin-top: 60px;
  margin-bottom: 10px;
}
.exploreAfrilearnh3 {
  font-family: "heading";
  font-size: 39px;
  padding-right: 0px;
  margin-bottom: 54px;
}
.profileshh3 {
  font-family: "heading";
  width: 120%;
  font-size: 48px;
  font-weight: 500;
  color: #29465b;
  margin-bottom: 4%;
}
.landingpageg {
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.bulletTexttt {
  color: #333333;
  font-size: 18px;
  font-weight: 600;
  margin-top: 5%;
}
.bulletTextt {
  color: #29465b;
  font-size: 18px;
  font-weight: 600;
  margin-top: 5%;
}

.mobileDownloadSection .mobileDownloadSection1 {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 514px) {
  .profileshh3 {
    font-size: 25px;
    padding-right: 78px;
  }
  .bulletTextt {
    font-size: 17px;
    font-weight: 600;
  }
  .bulletTexttt {
    font-size: 17px;
    font-weight: 600;
    padding-left: 5%;
  }
  .crossPlatform .crossPlatformTextPosition h3 {
    font-size: 25px;
    font-weight: 500;
    width: 310px;
    padding-left: 5%;
  }
  .crossPlatform .crossPlatformTextPosition {
    margin-top: 12px !important;
  }
  .mobileOnlyy {
    display: flex !important;
    flex-direction: row !important;
  }
  .crossPlatform .sectionImageContainer {
    display: inline-flex !important;
    margin-top: -10px !important;
  }
  .last .lastttt {
    display: flex !important;
    flex-direction: row !important;
    margin-top: 5%;
    padding-left: 2%;
  }
  .last .lastt {
    margin-top: 5%;
    padding-left: 2%;
  }
  .last .lasttt {
    padding-left: 2%;
  }
  .footerlogo {
    margin-left: 5%;
  }
  .last {
    padding-left: 25px !important;
  }
  .footerText h3 {
    margin-left: 27px !important;
  }
}

.exploreAfrilearnh3 {
  margin-bottom: 5px !important;
}

.mobileDownloadSection {
  margin-top: 39px;
}
.profileImagePosition {
  text-align: right;
  margin: auto;
  margin-top: 30px;
}
.exploreAfrilearn {
  padding: 70px 117px;
  background-color: #29465b;
  color: white;
}
.exploreAfrilearn ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.exploreAfrilearn ul li {
  display: inline-block;
  padding: 7px 16px;
  border-radius: 39px;
  margin-right: 85px;
  margin-top: 6px;
  color: white;
}
.exploreAfrilearnActive:hover {
  cursor: pointer;
}

.exploreAfrilearnNotActive:hover {
  cursor: pointer;
}

.exploreAfrilearnActive {
  background: white !important;
  color: black !important;
  font-weight: 500;
  font-size: 15px;
}
.exploreAfrilearnNotActive {
  color: white;
  font-weight: 500;
  font-size: 15px;
}
.explorePart2 {
  margin-top: 50px;
}
.explorePart2 img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  opacity: 0.6;
}

.backgroundColor {
  background-color: red;
  width: 800px;
}
.explorePart2 img:hover {
  cursor: pointer;
}
.explorePart2 span {
  display: block;
  text-align: center;
  margin-top: -69px;
  z-index: 3;
  position: relative;
}
.explorePart2 hr {
  width: 10%;
  text-align: center;
  margin: auto;
  border: solid 1px white;
}
.modal-content {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.trendingModalClass .modal-content {
  padding: 0px;
  background-color: white;
  color: #222222;
}
.trendingModalClass p {
  padding: 40px;
}
.modal-dialog.trendingModalClass {
  max-width: 828px;
  margin: 1.75rem auto;
}
.trendingModalClass .modal-title {
  text-align: center;
  width: 100%;
  color: #222222;
  font-weight: bold;
}
.trendingModalClass .paymentBox {
  margin: 50px 0px;
  padding: 29px 40px;
  border-radius: 8px;
  box-shadow: 0 0.5pt 10pt rgba(0, 0, 0, 0.1);
}
.trendingModalClass .paymentBox img {
  margin-bottom: 16px;
}
.trendingModalClass .paymentBox h3,
.trendingModalClass .paymentBox h5 {
  padding: 4px 56px;
}
.trendingModalClass .paymentBox a {
  display: block;
  background: #84bb29 !important;
  padding: 6px;
  color: white !important;
  border-radius: 5px;
  margin-bottom: 8px;
}
.trendingModalClass .paymentBox a.activeButton {
  border: solid 0.5px #222222;
  background: white !important;
  color: #222222 !important;
}
.trendingModalClass .modal-footer {
  padding: 0.4rem 1rem;
  text-align: center;
  display: block;
}
.trendingModalClass .btn-primary {
  background-color: #84bb29;
  border-color: #84bb29;
}
.trendingModalClass .modal-body {
  padding: 0px;
}

.afterExplore {
  margin-top: 90px;
}

.afterExplore span {
  display: block;
  text-align: center;
  background: #365469;
  padding: 23px 10px;
  border-radius: 5px;
}
.afterExplore span p {
  margin-bottom: 0;
  margin-top: 4px;
}

/* @media screen and (max-width: 374px) {
  .testimonials p {
    margin-top: 0 !important;
    left: -53px;
  } */
/* } */

.crossPlatform section {
  margin-top: 10px;
  margin-bottom: 10px;
}
.crossPlatform h3 {
  font-family: "heading";
  width: 120%;
  line-height: 63px;
  font-size: 48px;
  font-weight: 500;
  text-align: left;
  color: #29465b;
  margin-bottom: 4%;
}
.crossPlatform .sectionImageContainer {
  margin-top: 0;
  padding: 5%;
  display: inline-flex !important;
  margin-bottom: 5px;
}

.crossPlatform .crossPlatformTextPosition {
  margin-top: 170px;
  padding-left: 18px;
}

.testimonials .container {
  display: block;
  position: relative;
}
.testimonials .heroText {
  position: absolute;
  font-family: "heading";
  padding-top: 15px;
  left: 134px;
  font-style: normal;
  font-size: 100px;
  line-height: 63px;
  padding-right: 0px;
  color: #29465b;
}

.testimonials .mark {
  position: absolute !important;
  left: 0px !important;
  opacity: 0.3 !important;
  margin-top: 0px !important;
}

.testimonials p {
  position: absolute;
  width: 340px;
  height: 72px;
  left: 134px;
  margin-top: 30px;
  padding-top: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
}

@media screen and (max-width: 621px) {
  .testimonials {
    margin-top: 93px;
  }
}
@media screen and (max-width: 480px) {
  .testimonials p {
    font-size: 15px;
    left: 75px;
    top: -47px;
  }
  .heroText h1 {
    font-size: 20px;
    margin: 0;
    width: 277px;
  }

  .homepage .mark {
    width: 15px;
    height: 15px;
  }
}

@media screen and (max-width: 380px) {
  .testimonials {
    margin: 15px !important;
    position: relative;
  }

  .homepage .mark {
    width: 15px !important;
    height: 15px !important;
  }

  .heroTextHone {
    position: absolute;
    left: -50px;
    top: 28px;
  }
}

.testimonials .preview {
  margin-top: 93px;
  display: grid;
  place-content: center;
}

.faq h2 {
  font-family: "heading";
  font-size: 40px;
  /* margin-top: 50px; */
  text-align: center;
  color: #29465b;
}

.faq section {
  margin-top: 30px;
  /* display: grid; */
  place-content: center;
  margin-left: 15%;
  width: 50vw;
}

.faqHover:hover {
  cursor: pointer;
}

.quickJoin {
  background: #f5f5f5;
  padding: 45px 0 0px;
  /* height: 500px; */
}
.quickJoin h2 {
  color: #29465b;
  font-family: "heading";
  font-size: 40px;
  margin-top: 50px;
  text-align: center;
}
.quickJoin h6 {
  text-align: center;
  margin-bottom: 93px;
}

.quickJoin .container {
  cursor: pointer;
  /* position: absolute; */
  width: 791.11px;
}

.quickJoinSec {
  align-items: flex-start;
  height: 410px;
}

.quickJoin section {
  display: flex;
  justify-content: center;
}
.quickJoin .classes {
  left: 190px !important;
}
.quickJoin .quickJoinDropDown {
  position: relative;
  display: flex;
  left: -75px;
}

.paddingRightOff {
  padding-right: 0 !important;
}

.paddingRightOff ul li {
  list-style: none;
}

.myDropped {
  cursor: pointer;
}

.myDropCont {
  position: relative;
  cursor: pointer;
}
.myPlaceholder {
  background: #fff !important;
  /* width: 100%; */
  display: block;
  padding: 15px 28px;
  color: #787878 !important;
  border-radius: 5px 0 0 5px;
  margin-top: 12px;
  width: 501.11px;
  height: 90.9px;
  border-radius: 45.0005px 0 0 45.0005px;
  font-size: 20px !important;
  border: none;
}

.paddingRightOff {
  position: relative;
}
.inputImage {
  position: absolute;
  top: 38px;
  right: 15px;
}

.courseSelectSectionDropDown {
  background: #fff;
  color: #787878 !important;
  border-radius: 0 0 5px 5px;
  margin-top: -5px;
  width: 501.11px !important;
  position: absolute;
  cursor: pointer;

  display: none;
  padding-top: 30px;
  top: 80px;
  /* display: block; */
}

.myDropped:hover .courseSelectSectionDropDown {
  display: block;
  cursor: pointer;
}

.paddingRightOff ul li {
  padding-bottom: 7px;
}

.paddingRightOff ul li:hover {
  background-color: #00d9b6;
}

.paddingLeftOff {
  padding-left: 0 !important;
}

.paddingLeftOff input[type="submit"] {
  color: #fff;
  font-size: 17px;
  /* width: 100%; */
  padding: 14.4px 13px;
  border: none;
  margin-top: 12px;
  height: 53px;
  width: 247.5px;
  height: 90.9px;
  background: #00d9b6;
  border-radius: 0px 45.0005px 45.0005px 0px;
  z-index: 3;
}

@media screen and (max-width: 760px) {
  .myPlaceholder {
    height: 53px;
    width: 247px;
  }
  .paddingLeftOff input[type="submit"] {
    height: 53px;
    width: 147px;
  }
  .inputImage {
    display: none;
  }
}

@media screen and (max-width: 390px) {
  .myPlaceholder {
    height: 33px;
    width: 197px;
  }
  .paddingLeftOff input[type="submit"] {
    height: 33px;
    width: 97px;

    font-size: 10px !important;
  }
  .myPlaceholder {
    font-size: 10px !important;
  }
  .bulletTexttt {
    padding-left: 2%;
  }
}

@media screen and (max-width: 353px) {
  .myPlaceholder {
    display: none;
  }
  .courseSelectSection {
    position: relative;
  }

  .quickJoin {
    height: 400px;
  }
  .paddingLeftOff input[type="submit"] {
    height: 33px;
    width: 90px;
    position: absolute;
    font-size: 10px !important;
    display: block;
    border-radius: 40%;
    top: 0px;
    left: 0px;
  }
}

.partners {
  margin: 50px;
  position: relative;
  color: #29465b;
}

.partners section {
  margin: 0px 0 50px;
  overflow: auto;
  white-space: nowrap;
  padding: 50px 50px 120px;
  /* overflow-y: hidden; */
  overflow-y: hidden;
}
.partners section::-webkit-scrollbar {
  background: transparent;
}

.partners h2 {
  font-family: "heading";
  font-size: 40px;
  margin-top: 50px;
  text-align: center;
}

.cardstylling {
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(1, 1fr);
  gap: 15px;
  border: none;
  justify-content: center;
  border-radius: 10px;
}

.cardstylling ul {
  margin-top: 5px;
  list-style-type: none;
}

.cardstylling ul li {
  text-align: start;
  margin-top: 30px;
}

.cardstylling ul li span {
  margin-right: 10px;
}

.cardstylling button {
  background: #00d9b6;
  border-radius: 30px;
  width: 85%;
  padding: 9px;
  color: #ffffff;
  border: none;
  margin-left: 5%;
}

.partners .box {
  display: inline-block;
  position: relative;
  width: 170px;
  height: 90px;
  background: #ffffff;
  box-shadow: 0px 30px 40px rgba(171, 172, 175, 0.2);
  border-radius: 16px;
  margin: 14px;
  text-align: center;
  margin: 0px 10px 0;
  top: 50%;
  text-decoration: none;
}

.partners .partnerLogo {
  padding: 10px !important;
}

.footer {
  background: #0b0d17;
  background-image: url("../../../public/assets/img/White.svg");
  background-repeat: no-repeat;
  margin-top: 70px;
  padding-left: 5%;
  /* padding-right: 2%; */
  padding-bottom: 3%;
  padding-top: 5%;
  position: relative;
}

.footerText li {
  color: #eeeff4;
  text-decoration: none;
  list-style-type: none;
  height: 46px;
  font-size: 18px;
  font-weight: 400;
}

.footerText h3 {
  font-size: 24px;
  font-weight: 50;
  line-height: 30px;
  letter-spacing: 0em;
  color: #eeeff4;
  margin-left: 30px;
  padding-bottom: 30px;
}
.last {
  background: black;
  bottom: 0px;
  color: #eeeff4;
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 2%;
}
.last li {
  list-style: none;
}
.last .lastt {
  margin-left: 20px;
}
.last .lasttt {
  margin-left: 16px;
}
.last .lastttt {
  display: flex !important;
  flex-direction: row !important;
  margin-left: 10px;
}

.footer .last li {
  color: #eeeff4;
  list-style-type: none;
  font-size: 16px;
  font-weight: 400;
}
.btnJoinForFree {
  /* margin-top: 25px; */
  border: none;
  background-color: #00d9b6;
  color: white !important;
  padding: 15px 18px !important;
  border-radius: 39px;
}

@media screen and (max-width: 768px) {
  .cardstylling {
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(1, 88%);
    gap: 10px;
    border: none;
    justify-content: center;
  }

  .partners {
    margin: 5px;
    position: relative;
  }

  .cardstylling button {
    margin-left: 15%;
    width: 60%;
  }

  .faq section {
    margin-top: 30px;
    place-content: center;
    margin-left: 1px;
    width: 70vw;
  }

  .partners .partnerLogo {
    padding: 1px !important;
  }
  .crossPlatform .crossPlatformTextPosition {
    margin-bottom: 100px;
  }
  .profileImagePosition {
    margin-right: 0px;
  }
}
