.inlineBlock {
  display: inline-block;
}
.large {
  font-family: "content";
  font-style: normal;
  font-weight: 500 !important;
  font-size: 72px !important;
  line-height: 80px !important;
  color: #000000;
}
.heading {
  font-family: "heading";
  font-style: normal;
  font-weight: 700 !important;
  font-size: 48px !important;
  line-height: 63px !important;
  /* identical to box height */
 color: #000000;
}
.primaryText {
  font-family: "content";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.subHeading {
  font-family: "subHeading";
  font-style: normal;
  font-weight: bold !important;
  font-size: 30px !important;
  line-height: 39px !important;
  color: #000000;
}
.nav {
  font-family: Spoof;
  font-style: normal;
  font-weight: bold !important;
  font-size: 20px !important;
  line-height: 26px !important;

  color: #000000;
}
