.headerwrapper {
    background-image: url('../../public/assets/img/faqBg.png'),linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.63));
    background-size: cover;
    height: 50vh;
    background-position: 30% 95%;
    text-align: center;
    align-items: center;

}

.innerheader {
    text-align: start;
    padding: 1.5em 8em;
    width: 60%;
}

.innerheader h1, .innerheader h4{
    color: #fff;
    margin-top: 1.5em;

}

.partnerinnercontent {
    display: flex;
    justify-content: space-between;
    padding: 3em 6em;
}

.investorinnercontent {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 3em 6em;
}

.childcontent {
    padding: 4em;
    width: 60%;
    box-shadow: 0px 1px 5px 6px rgba(0,0,0,0.11);
    -webkit-box-shadow: 0px 1px 5px 6px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 1px 5px 6px rgba(0,0,0,0.11);
}
.childcontentsecond {
    width: 30%;
    padding: 1em;
    text-align: center;
    box-shadow: 0px 1px 5px 6px rgba(0,0,0,0.11);
    -webkit-box-shadow: 0px 1px 5px 6px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 1px 5px 6px rgba(0,0,0,0.11);
}
.childcontentsecond p {
    padding: 0 1em;
}
.childcontentsecond img {
    width: 100%;
}

/* mobile lg 425 */
@media screen and (max-width:767px){
    .innerheader {
        text-align: start;
        padding: 1.5em 2em;
        width: 90%;
    }
    .partnerinnercontent {
        flex-direction: column-reverse;
        padding: 3em 2em;
    }
    
    .investorinnercontent {
        flex-direction: column;
        padding: 3em 2em;
    }
    .childcontent {
        padding: 1em;
        width: 100%;
    }
    .childcontentsecond {
        width: 100%;
        padding: 1em;
    }
}