.selectClassMark {
  background: url("/assets/img/features/dashboard/student/done-all.png");
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

.profileSubmit {
  background: url("/assets/img/features/dashboard/student/goal.png");
  height: 400px;
  width: 400px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  margin: auto;
}
.studentProfileAvatar {
  height: 174px;
  width: 174px;
  position: relative;
  top: -100px;
}
.studentProfileAvatar2 {
  background-image: url("/assets/img/features/dashboard/student/person_2 1.png");
  height: 174px;
  width: 174px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

.studentProfileAvatar3 {
  background: rgba(0, 0, 0, 0.6);
  height: 174px;
  width: 174px;
  background-position: 50%;
  border-radius: 50%;
  position: absolute;
  top: 0;
}
.studentProfileAvatar4 {
  background-image: url("/assets/img/features/dashboard/student/Camera.png");
  height: 174px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}
