.swordForFC {
  background-image: url("/assets/img/features/dashboard/student/Sword.png");
  height: 128px;
  width: 128px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

.afrilearnFCAvatar1 {
  background-image: url("/assets/img/features/dashboard/student/Head.png");
  height: 66px;
  width: 66px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  background-color: #84bb29;
  border-radius: 1600px;
  margin: auto;
}

.afrilearnFCAvatar2 {
  background-image: url("/assets/img/features/dashboard/student/Ellipse 88.png");
  height: 66px;
  width: 66px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  position: absolute;
  right: "10px" !important;
}

.afrilearnFCAvatar3 {
  background-image: url("/assets/img/features/dashboard/student/Ellipse ooo.png");
  height: 66px;
  width: 66px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  color: rgba(0, 0, 0, 0.4);
  z-index: 3;
}
.afrilearnFCAvatar4 {
  height: 66px;
  width: 66px;
  background-color: rgba(0, 0, 0, 0.4);
  margin: auto;
  border-radius: 1600px;
  padding: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.labelInput {
  background-image: url("/assets/img/features/dashboard/student/Upload.png");
  height: 13px;
  width: 13px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  position: absolute;
  top: 25px;
  padding-left: 34px;
}

.afrilearnRocket {
  background-image: url("/assets/img/features/dashboard/student/Group 2352.png");
  height: 126px;
  width: 129px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}
.afrilearnRocket1 {
  background-image: url("/assets/img/features/dashboard/student/Group 2351.png");
  height: 126px;
  width: 129px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}
.afrilearnRocket2 {
  background-image: url("/assets/img/features/dashboard/student/Group 2350.png");
  height: 126px;
  width: 129px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}
.afrilearnRocket3 {
  background-image: url("/assets/img/features/dashboard/student/Group 2443.png");
  height: 58px;
  width: 423px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

.trophyBadge {
  background-image: url("/assets/img/features/dashboard/student/badge 1.png");
  height: 58px;
  width: 223px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

.scoreAvatar {
  background-image: url("/assets/img/features/dashboard/student/Ellipse 100.png");
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}
.scoreAvatarY {
  background-image: url("/assets/img/features/dashboard/student/GroupBadgeY.png");
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}
.scoreAvatarGray {
  background-image: url("/assets/img/features/dashboard/student/GroupBadgeGray.png");
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}
.scoreAvatarBrown {
  background-image: url("/assets/img/features/dashboard/student/brownVector.png");
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

.scoreeffect1:hover p,
.scoreeffect2:hover p,
.scoreeffect3:hover p {
  color: #00d9b6;
  cursor: pointer;
}
