.accord {
  /* width: 90%; */
  height: 80px;
  margin: auto;
  /* background: #a80f0f; */
  border-radius: 10px;
}

.classs {
  margin: 50px 100px;
}

.accordance {
  background-image: url("/assets/img/features/dashboard/student/button2.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.accordHead {
  width: 80%;
  /* background-color: #a80f0f !important; */
  border: 0 !important;
}

.accordLeft {
  background: #f1f2f4;
  padding: 12px 64px;
  border-bottom: 15px solid white;
  border-radius: 0 0 23px 23px;
  display: grid;
  grid-template-columns: 30% 70%;
}

.accordRightDiv {
  align-self: center;
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
}

.accordButtonLeft {
  border: 1.20556px solid #333333;
  border-radius: 120.556px;
  padding: 5px 10px;
  width:fit-content;
  height: fit-content;
  margin:  7px;

  /* display: flex; */
}

.accordLeft {
  display: flex;
  gap: 15px;
}

.buttonStyle {
  display: flex;
  gap: 5px;
}

.headerTop {
  /* width: 0%; */
  margin: 30px 0;
  height: 50px;
  background: #29465b;
  box-shadow: 0px 1px 7px rgba(212, 217, 232, 0.5);
  border-radius: 10px;
  display: grid;
  justify-content: space-between;
  padding: 20px 15px;
  align-content: center;
  grid-template-columns: 20% 10% 1% 20% 49%;
}

.headerTopRightMid{
  background-image: url("/assets/img/features/dashboard/student/Ellipse 111.png");
  background-repeat: no-repeat;
  background-size: fill;
  align-items: center;
      margin-top: 10px;
}
.headerTopRight {
  background-image: url("/assets/img/features/dashboard/student/iconDown.png");
  background-repeat: no-repeat;
  background-size: fill;
  justify-self: end;
  margin-top: 10px;
  width: 26px;
  height: 14.82px;
  margin-right: 20px;
}

.headerTopLeft {
  font-weight: 500;
  font-size: 25px;
  line-height: 33px;
  color: #00d9b6;
  margin-left: 20px;
}

.headerTopLeftMid,
.headerTopRightExtMid{
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
  color: white;
  /* margin-left: 20px; */
}