.boardmainwrapper {
    padding: 1.5em 4.5em;
    text-align: center;
}
.headerwrapper {
    margin-bottom: 2.5em;
}

.flipperswrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-direction: row;
    gap: 10px;
}