.studentProfileGrid {
  display: grid;
  grid-template-columns: 20% 75%;
  column-gap: 5%;
  max-width: 80%;
}

.studentProfileAvatar {
  background: url("/assets/img/features/dashboard/student/Ellipse 1.png");
  height: 210px;
  width: 210px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}
.studentProfileAvatar2 {
  background: url("/assets/img/features/dashboard/student/person_2 1.png");
  height:210px;
  width: 174px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

.studentProfileInfo {
  background-color: white;
  width: 100%;
  height: 148px;
  box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.5);
  border-radius: 10px;
  align-content: center;
  margin: auto;
}

.studentProfileCrownTheme {
  background: url("/assets/img/features/dashboard/student/crownTheme.png");
  height: 50px;
  width: 277px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

.studentProfilePenIcon {
  background: url("/assets/img/features/dashboard/student/Edit.png");
  height: 18px;
  width: 18px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

.studentProfileCoinIcon {
  background: url("/assets/img/features/dashboard/student/Group 2417.png");
  height: 38px;
  width: 43px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  border: 0;
  margin: auto;
}

.stateComponent {
  background: url("/assets/img/features/dashboard/student/Location.png");
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  border: 0;
  margin: auto;
}
