.aboutheaderwrapper {
    background-image: url('../../../public/assets/img/about.jpg');
    background-size: cover;
    height: 85vh;
    text-align: center;
    display: flex;
    justify-content: center;
}

.innercontainer {
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4em;
}
.contentwrapper {
    display: flex;
    flex-direction: column;
    gap:2em;
    text-align: start;
    width: 60%;
}

.slidderwrapper {
    width: 50%;
}