.loginButton {
  /* border: solid 1px black;
    padding: 7px 16px !important;
    border-radius: 39px; */
  margin-right: 5px;
  /* background: white; */
}

.loginButton a,
.signUpButton a,
.loginButton a:hover,
.signUpButton a:hover {
  color: inherit;
  text-decoration: none;
}
.adjustTopNav {
  /* margin-top: 86px; */
}

.main-navbar-with-login {
  display: flex;
  background-color: brown;
  flex-direction: column;
}
.loggedindash {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  padding: 5px;
}

.parentloggedindash {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 80vw;
  padding: 5px;
  margin-right: 65px;
}

.loggedindash ul,
.parentloggedindash ul {
  display: flex;
  justify-content: space-evenly;
  gap: 80px;
  margin-right: 60px;
}

.loggedindash ul li,
.parentloggedindash ul li {
  list-style-type: none;
  cursor: pointer;
  /* color: #000; */
}

.navicons {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.btnlogin,
.btnloginregister {
  margin-right: 10px;
  background-color: #00d9b6;
  color: #000;
  border: none;
  padding: 5px 20px;
  border-radius: 25px;
}
.mainNavbar {
  /* padding: 30px !mportant; */
  /* height: 20%; */
  /* margin-top: 20px; */
  /* color: #000; */
  padding-left: 6% !important;
  padding-right: 4% !important;
}
.btnlogout {
  margin-left: 20px;
  margin-right: 10px;
  background-color: #00d9b6;
  color: #fff;
  border: none;
  padding: 5px 20px;
  border-radius: 25px;
}

.profileavatar {
  cursor: pointer;
  width: 43px;
}
.profileavatar2 {
  cursor: pointer;
  margin-top: 20px;
  /* margin-right: -50px; */
}
.profileavatar1 {
  cursor: pointer;
  border-radius: 100px;
}

.avatarcontainer {
  display: flex;
}

.avatarcontainer ul {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.ulmenuwrapper {
  display: flex;
}
.profilearrowdow {
  margin-left: 15px;
}
.avatarlist ul {
  background-color: #0000;
}

.iconswrapper {
  position: relative;
  display: inline-block;
}

.iconswrapper:hover .linkswrapper {
  display: block;
  right: 0;
  left: auto;
}
.iconswrapper:hover .iconswrapper {
  background-color: #3e8e41;
}

.linkswrapper {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.linkswrapper a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.linkswrapper a:hover {
  background-color: gray;
}
