.loginButton {
  /* border: solid 1px black;
    padding: 7px 16px !important;
    border-radius: 39px; */
  margin-right: 5px;
  /* background: white; */
}

.loginButton a,
.signUpButton a,
.loginButton a:hover,
.signUpButton a:hover {
  color: inherit;
  text-decoration: none;
}
.adjustTopNav {
  margin-top: 86px;
}

.main-navbar-with-login {
  display: flex;
  background-color: brown;
  flex-direction: column;
}
.loggedindash {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 60vw;
   padding: 5px;
}

.parentloggedindash{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  padding: 5px;
}


.loggedindash ul, .parentloggedindash ul{
  display: flex;
  justify-content: space-evenly;
  gap: 80px;
  margin-right: 60px;
}

.loggedindash ul li, .parentloggedindash ul li {
  list-style-type: none;
  cursor: pointer;
}

.navicons{
  display:flex;
  justify-content: space-evenly;
  gap: 20px;
}

.btnlogin, .btnloginregister{
  margin-right: 10px;
  background-color: #00d9b6;
  color: #fff;
  border: none;
  padding: 5px 20px;
  border-radius: 25px;
}

.btnlogout {
  margin-left: 20px;
  margin-right: 10px;
  background-color: #00d9b6;
  color: #fff;
  border: none;
  padding: 5px 20px;
  border-radius: 25px;
}

.profileavatar {
  cursor: pointer;
  margin-right: 20px;
}

.avatarcontainer{
  display: flex;
}

.avatarcontainer ul {
  display: flex;
  flex-direction: column;
  position: absolute;

}

.ulmenuwrapper {
  display: flex;
}
.profilearrowdow {
  margin-left: 15px;
}
.avatarlist ul{
  background-color: #0000;
}

.iconswrapper {
  position: relative;
  display: inline-block;
}

.iconswrapper:hover .linkswrapper {display: block;}
.iconswrapper:hover .iconswrapper {background-color: #3e8e41;}


.linkswrapper {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.linkswrapper a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.linkswrapper a:hover{
  background-color: gray;
}