.leadershipmainwrapper {
    padding: 1.5em 4.5em;
    text-align: center;
}
.headerwrapper {
    margin-bottom: 2.5em;
    color: #00d9b6;
}

.flipperswrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-direction: row;
    gap: 10px;
}

/* mobile lg 425 */
@media screen and (max-width:767px){
    .flipperswrapper {
        grid-template-columns: repeat(1, 1fr);

    }
    .leadershipmainwrapper {
    padding: 1.5em 2.5em;
    }
}