.parentcontainer {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

@media screen and (max-width: 415px) {
  .parentcontainer {
    display: block;
    width: 250px;
  }
  .imagecontainer {
    width: 250px !important;
    margin: auto;
  }
}
.imagecontainer {
  width: 18%;
}

.quizcontainer h3 {
  font-size: 20px;
}

.subjectcontainer h4 {
  margin-top: 20px;
  font-size: 20px;
}

.datecontainer h3 {
  margin-top: 20px;
  font-size: 20px;
}

.recenttitle {
  padding-left: 10%;
  font-size: 30px;
  font-weight: 700;
  font-family: 'subHeading';
  color: #29465b;
}
