.mainwrapper {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    margin-top: 25px;
}

.detailscard {
    background-color:#FAFAFA;
    text-align: center;
    padding: 25px;
    margin-bottom: 10px;
    font-size: 20px;
    position:relative;
    padding-bottom: 70px;
    border-radius: 20px;
}
.detailscard p {
    color: #333333;
    font-size: 15px;
    line-height: 26.2px;


}

.detailscard h2 {
    color: #29465B;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;

}
.detailscard h3 {
    background: #E6FBF8;
    position: absolute;
    left: 35%;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    padding: 2px 25px;
    color: #00D9B6;

}

.subtitle {
    padding-left: 35px;
    color: #00D9B6 !important;
    font-style: normal;
    font-weight: 700;
    font-size: 12px !important;
    line-height: 16px !important;
}

.subtitleview {
    position:relative;
    color: #00D9B6 !important;
    left:65%;
    text-decoration:underline;
    font-style: normal;
    font-weight: 500;
    font-size: 13px !important;
    line-height: 24px !important;
}

.upcomingcard {
    background-color:#FAFAFA;
    padding: 20px;
    border-radius: 20px;
}

.upcomingcard h2 {
    color: #29465B;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 39px;
}

.upcomingcard p {
    color: #333333;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.innerdate {
    display: flex;
    justify-content: space-evenly;
    text-align: start;
}

.innerdate p {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
}

.innerdate span {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

.firstmessage {
    border-radius: 7px;
    display: flex;
    background-color: #FAFAFA;
    padding: 10px;
    margin-top: 15px;
}

.posttage {
    border-radius: 7px;
    display: flex;
    background-color: #FAFAFA;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid rgba(51, 51, 51, 0.23);

}
.innermessage {
    margin-top: 10px;
    display: flex;
    background-color: #FAFAFA;
}
.commentmessage {
    border-top: 1px solid rgba(51, 51, 51, 0.23);
    border-bottom: 1px solid rgba(51, 51, 51, 0.23);
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 65px;
    
}

.commentimagecont {
    display: flex;
}
.teachertitle {
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
}

.addclasscomment {
    display: flex;
    justify-content: space-around;
    width: 55%;
    border: 1px solid rgba(51, 51, 51, 0.23);
    border-radius: 20px;
    padding: 3px;
    margin-top: 15px;
    position: absolute;
    left: 25%;
    color: rgba(166, 166, 166, 0.51);

}

.dividerclass {
    position: relative;
    border-top: 1px solid rgba(51, 51, 51, 0.23);
    margin-top: 20px;
}

.teachertitle p {
    padding-top: 15px;
    margin-left: 25px;
}

.teachertitle span {
    padding-top: 0.1px;
    margin-left: 25px;
}
.seconmessage {
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid rgba(51, 51, 51, 0.23);

}

.firstmessage p {
    padding-top: 20px;
    margin-left: 25px;
}

.teacherarticle {
    padding: 15px;
    background-color: #FAFAFA;
}