.classworkwrapper {
  display: flex;
  /* justify-content: space-evenly; */
  /* padding: 15px; */
  margin-top: 25px;
}

.innersubject {
  display: flex;
  position: relative;
  margin-top: 25px;
}

.innersubject p {
  padding-left: 10px;
  color: #333;
}
.subjectdetails {
  display: flex;
  flex-direction: column;
  /* padding-left: 5%; */
  background-color: #fafafa;
  margin-left: 4%;
  /* width: 70vw; */
}
.activetab {
  color: #00d9b6;
}

.tabs {
  color: #a6a6a6;
}
.classworkwrappers {
  margin-top: 40px;
}
.classworkwrappers nav {
  display: block;
}
.classworkwrapper nav {
  display: block;
}
.subjectdetails span {
  padding-left: 10%;
  font-size: 13px;
}
.subjectwrapper {
  /* width: 70vw; */
  margin-left: 4%;
  border-bottom: 1px solid rgba(51, 51, 51, 0.23);
  background-color: #fafafa;
  padding: 10px;
  padding-top: 25px;
  padding-left: 55px;
  padding-bottom: 15px;
  font-size: 15px;
  line-height: 29px;
  color: #29465b;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.subjectwrappers h3 {
  border-bottom: #333 solid 1px;
  margin: 0 !important;
}
.sidenavbar ul {
  padding: 0;
}
.sidenavbar ul li {
  list-style-type: none;
  margin-top: 20px;
}
.posted {
  position: absolute;
  top: 23px;
  left: -27px;
}
