nav {
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
}

.left-content-container {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    gap: 25px;
    width: 30%;
}

.btn-container {
    width: 60%;
    align-items: center;
    padding-left: 10px;
}
.btn-container button{
    width: 35%;
    padding: 8px;
    margin: 10px;
    border-radius: 15px;
    text-transform: uppercase;
}
