.parentcomponentwrapper {
    
}

.innerparentwrapper {
    position: relative;
    height: 90vh;
}

.headerwrapper {
    background: url('../public/assets/img/parenthead.svg');
    height: 65vh;
}

.avatarwrapper {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 60px;
    left: 90px;
    gap: 30px;
}

.proaddwrapper {
    position: absolute;
    right: 130px;
    bottom: 10px;
}

.counterwrapper {
    position:absolute;
    display: flex;
    justify-content: space-around;
    background-color:#FFFFFF;
    bottom: 45px;
    left: 240px;
    width: 65vw;
    padding: 15px 0;
    border-radius: 5px;
    box-shadow: 3px 15px #FAFAFA;
}

.childrencounterwrapper, .classesncounterwrapper{
    text-align: center;
}
.childrencounterwrapper h4, .classesncounterwrapper h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
}
.childrencounterwrapper h5, .classesncounterwrapper h5 {
    color: #A8A8A8;
}

.parentmaingeneratewrapper {
    background-color: #FAFAFA;
    width: 82%;
    align-items: center;
    margin: 0 auto;
    padding: 25px 0;
}
.innerheadingperfomwrapper {
    width: 45%;
    margin:  0 auto;
}
.innerformwrapper {
    width: 45%;
    margin:  0 auto;
}
.arrowparentwrapper {
    position: relative;
}

.arrowdownwrapper {
    position: absolute;
    right : 10px;
    top: 40px;
}

.classcontentwrapper {
    margin: 20px 0;

}

.contentheaderwrapper {
    width: 80%;
    margin-left: 95px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid rgb(204, 197, 197);
}

.contentheaderwrapper h3 {
    margin: 0 10px;
}

.labelwrapper ul {
    display: flex;
    justify-content: space-between;
    text-align: start;
}
.labelwrapper ul li {
    list-style-type: none;
    margin: 0 10px;
    border: rgb(190, 185, 185) solid 1px;
    padding: 2px 15px;
    border-radius: 30px;
}

.contentmainwrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.innercontentwrapper {
    background-color: #A8A8A8;
    margin-top: 30px;
    padding: 10px;
}

.innercontentwrapper ul {
    display: flex;
    align-items: flex-start;
    text-align: start;
    margin-bottom: 10px;
}

.innercontentwrapper ul li {
    list-style-type: none;
    margin: 0 10px;
    background-color: #f0ecec;
    border-radius: 50px;
    padding: 3px 10px;
    cursor: pointer;
}

.closeModal {
    cursor: pointer;
}

.cardcontentwrapper {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 30%;
}

.contenthidewrapper {
    display: none;
}

.contentshow {
    display: block;
}

.contentquestionwrapper {
    position: relative;
}

.contentquestionwrapper h4 {
    font-size: 14.5259px;
    
}

.contentquestionwrapper h4 span{
   position: absolute;
   right: 10px;
}

.checkbg {
    border-radius: 50px;
    background-color: rgb(12, 14, 14);
}

.contentinnernavwrapper ul li {
    list-style-type: none;
    margin-top: 20px;
}

.parentchildformwrapper {
    padding: 40px 0;
    width: 50%;
    background-color: #FAFAFA;
    ;
    margin: 0 auto;
}

.linkwrapper {
    display: flex;
    justify-content: space-around;
}

.leftlinkswrapper {
    display: flex;
    justify-content: space-around;
}
.leftlinkswrapper span{
    margin-left: 15px;
}
.unlinkwrapper {
    margin-left: 5px;
    border-bottom: 1px solid #A8A8A8;
}

.deletewrapper {
    margin-left: 5px;
    border-bottom: 1px solid red;
    color: red;
}

.tablewrapper {
    background-color: #FAFAFA;
    margin: 30px;
    padding: 40px;
}

.rightlinkswrapper {
    display: flex;
    gap: 5px;
}

.linkinchildwrapper {
    border-bottom: 1px solid #00D9B6;
    color: #00D9B6;
}
.childrenheaderwrapper {
    margin-bottom: 50px;
}

.modaltitle {
    width: 100%;
}

.modaltitle h5 {
    cursor: pointer;
}

.modalwrapperouter {
    margin-top: 40px;
}

.modalbodywrapper {
    display: flex;
    flex-direction: column;
}