.mainwrapper {
    padding: 15px;
    margin-top: 25px;
    background: #FAFAFA;
    width: 85vw;
    margin-left: 6%;
}

.titlehead {
    color: #29465B;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 29px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.23);
    
    
}

.titlehead h4 {
    padding-left: 55px;
}

.personseg {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.23);
}

.innerimage {
    display: flex;
    color: #29465B;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 29px;
    gap: 15px;
    padding-left: 55px;
}

.classmate {
    display: flex;
    color: #29465B;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 29px;
    gap: 15px;
    margin-top: 25px;
    padding-left: 55px;
}

.peoplecounter h4 {
    padding-left: 55px;
}
.peoplecounter {
    display:flex;
    justify-content:flex-start;
    margin-top:29px;
    gap: 75%;
    font-style: normal;
    font-weight: bold;
    line-height: 39px;
    color: #29465B;
    width: 100%;
    border-bottom: 1px solid rgba(51, 51, 51, 0.23);
}