.containerQuiz {
  padding: 0 5% 0 5%;
  height: 800px;
}

.FirstQuizDiv {
 height: 600px;
  border-right: 1px solid #e2e3e7;
}
.FirstQuizDiv .leftDiv {
  padding-bottom: 15%;
}
.QuizquestionDiv {
  margin-left: 5%;
  /* margin-right: 0 !important; */
}
.QuizNumberSubject h4{
  padding-bottom: 4%;
  margin-bottom: 4%;
  color: #29465b;
  width:70%;
  font-weight: 700;
  border-bottom: 5px solid #29465b;
}
.QuizNumberQuestionNum p{
  height: 32px;
  width: 129px;
  size:20px;
  color: #29465b;
  font-weight: 700;
 /* border: 2px solid red; */
}
.QuizNumberQuestion p{
  font-weight: 400;
  size: 24px;
}
.countdown{
  margin-bottom: 10% !important;
}
.Quiznumber {
border: 2px solid #e2e3e7;
box-shadow: 0px 0.648094px 4.53666px rgba(0, 0, 0, 0.15);
border-radius: 9.72141px;
background-color: #fff;
width: 40px;
margin: 5%;
text-align: center;
font-weight: 700;
}
.quizOption button{
  height: 59px;
width: 70%;
border: 1px  solid #e2e3e7;;
border-radius: 15.4px;
background-color: #ffff;
text-align: left;
padding: 3%;
 margin-top:5% ;
}
.options{
  margin: 5% 0 8% 0 ;
}
.quizSubmit button{
  background-color:  #00D9B6;
  border-radius: 100px;
  color: #fff;
  width:198px;
  height:48px ;
  border: none;
}
.quizSkip button{
  background-color: #fff;
  border-radius: 100px;
  color: #fff;
  width:150px;
  height:48px ;
  border: 1px solid #FFCC66;
  
}