.examinationwrapper {
    /* margin-top: 10%; */
}

.middletabwrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
}

.leftsidetabwrapper {
    display: flex;
    width: 35%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4%;
}

.leftsidetabwrapper h2 {
    font-size: 20px;
}

.leftsidetabwrapper h4 {
    font-size: 15px;
    color: #00D9B6;
    border-bottom: 1px solid #00D9B6;
    cursor: pointer;
}

.leftsidetabwrapper span {
    cursor: pointer;
}

.crosswrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftsidetabwrapper span{
 margin-right: 10px;
 margin-bottom: 8px;
}

.righttabwrapper h4{
    color: #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
    font-size: 15px;
    margin-top: 35%;
}

.teachersearchwrapper {
    margin-top: 30px;
    border: 1px solid #C4C4C4;
    width: 20%;
    margin-left: 100px;
    border-radius: 20px;
    padding: 3px 15px;
    color: #A8A8A8;

}

.teachersearchwrapper span {
    margin-right: 10px;
}
.examsholderwrapper {
    margin: 50px;
    background-color: #FAFAFA;
    padding: 30px 0;
}
.examsmainholder {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: solid 1px #A8A8A8;
}

.examstitlewrapper {
    padding: 30px 0;
}

.examstitlewrapper h3 {
    font-size: 20px;
}

.examstitlewrapper p {
    font-size: 15px;
}

.lastcolon {
    display: flex;
    gap: 30px;
    cursor: pointer;
    color: #000;
}

.lastcolon h5 {
    background-color: #00D9B6;
    font-size: 15px;
    color: #000;
    font-weight: 500;
    padding: 10px;
    border-radius: 20px;
}

.otherwrapper h5 {
    font-size: 15px;
}

.setexammainwrapper {
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
    padding: 20px 0;
}

.datepicker {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}

.leftsideboxwrapper, .objleftsideboxwrapper {
    background-color: #FAFAFA;
    padding: 20px;
    width: 25%;
    height: 70vh;
}



.leftsideboxwrapper h4, .objleftsideboxwrapper h4 {
    font-size: 20px;
}

.leftsideboxwrapper ul li, .objleftsideboxwrapper ul li {
    list-style-type: none;
    margin-top: 25px;
    font-size: 15px;
    color: #A8A8A8;
}
.leftsideboxwrapper ul li span, .objleftsideboxwrapper ul li span{
    margin-right: 10px;
}
.mainboxwrapper {
    width: 40%;
    padding: 30px;
}

.objectivemainwrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.examsetupwrapper {
    width: 60%;
    position: relative;
}
.xamssetpheader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #E3E3E3;
    padding: 0 40px;
    cursor: pointer;
}

.xamssetpheader h4 {
    font-weight: 500;
    font-size: 15px;
    
}

.clikeditemssetup {
    color: #00D9B6;
}

.unclikeditemssetup {
    color: black;
}

.xamssetpheader h5 {
    font-weight: 500;
    font-size: 15px;
}
.classlistwrapper {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    right: -10px;
    gap: 10px;
}

.classlistwrapper ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    margin-left: 60%;
    padding: 10px;

}

.classlistwrapper ul li {
    list-style: none;
    border: solid 1px #00D9B6;
    padding:  2px 5px;
    text-align: center;
    margin: 3px;
    border-radius: 50%;
}


.questionsoptionswrapper {
    display:flex;
    flex-direction: column;
}

.innerclasslistwrapper {
    display: flex;
    justify-content: space-between;
    width: 85%;
    /* padding: 0 10px; */
    align-items: center;
    border-radius: 5px;
    background-color: #FAFAFA;
}
.innerclasslistwrapperonly {
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    align-items: center;
    border-radius: 5px;
    background-color: #FAFAFA;
    width: 100%;
    margin-bottom: 20px;
}
.innernumberwrapper {
    position: relative;
    display: inline-block;
}

.examdetailswrapper {
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.sendresultwrapper{
    padding-top: 40px;
}

.examresultsectionwrapper {
    margin: 0 10px;
}

.headerwrapper{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.examresultinnerwrapper {
    background-color: #FAFAFA;
    padding: 15px;
}

.noresultwrapper{
    border: 2px solid blue;
    text-align:center;
    padding: 50px 0;
}

.innerwrapperheader {
    display:flex;
    justify-content: space-between;
    padding: 20px;
}

.innernumberwrapperplusbtn{
    margin-top: 10px;
}
.innernumberwrapperplusbtn ul li{
    list-style-type: none;
    padding: 0 10px;
    border-radius: 5px;
    border: #E3E3E3 solid 1px;
}

.innernumberwrapper ul {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.iconswrapper {
    width: 10%;
    display: flex;
    justify-content: space-around;
    margin-left: 15%;
}
.iconswrapper span {
    gap: 70px;
}
.innernumberwrapper ul li {
    list-style-type: none;
    padding: 0 10px;
    border-radius: 5px;
    border: #E3E3E3 solid 1px;
}



.questionpanelheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F1F2F4;
    width: 67%;
    padding: 0 10px;
    margin-top: 10px;
    border-radius: 5px;
}
.questionpanelheader h5 {
    font-size: 14px;
    margin-top: 8px;
}
.questionpanelwrapper {
    display: flex;
    padding: 0 15px;
}
.plusiconwrapper ul {
    margin-top: 10px;
    margin-left: 13px;
}
.plusiconwrapper ul li{
    list-style-type: none;
    padding: 0 5px;
    border-radius: 5px;
    border: #E3E3E3 solid 1px;
}

.mainformwrapper {
    width: 64%;
    margin-left: 17px;
}

.optionwrapper {
    width: 64%;
    margin-left: 17px;
}

.questionoptionwrapper h5 {
    margin-left: 17px;
    font-size: 15px;
}

.questioncorrectmainwrapper h5 {
    margin-left: 17px;
    font-size: 15px;
    width: 8%;
    border-bottom: solid 1px #00D9B6;
}

.correctheadertitle {
    display: flex;
    padding: 0 15px;
}

.correctquestionformwrapper {
    width: 64%;
    margin-left: 17px;
    margin-top: 20px;
}

.bottombtnwrapper {
    margin-top: 150px;
}

.bottombtnwrapper h4 {
    color: #00D9B6;
    font-weight: 400;
    font-size: 12px;
    padding-left: 35px;
    cursor: pointer;
}

.btnmainwrapper {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}

.btnmainwrapper h4 {
    background-color: #00D9B6;
    padding: 5px 20px;
    border-radius: 15px;
    font-size: 13px;
    color: #FFFFFF;
}

.btnmainwrapper h5 {
    margin-top: 10px;
    font-size: 10px;
    border-bottom: 1px solid #A8A8A8;
}

.addtheorywrapper {
    padding-left: 20px;
    margin-top: 50px;
    display: flex;
}

.addtheorywrapper h5 {
    color: #00D9B6;
    font-size: 18.2656px;
}

.addtheorywrapper span {
    margin-right: 10px;
}

.generateformwrapper {
    width: 50%;
    margin: 0 auto;
}
.generatetitle {
    width: 50%;
    margin: 0 auto;
}

.questionwrapper {
    display: flex;
    justify-content: space-around;
}

.numberwrapper ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.numberwrapper ul li {
    list-style-type: none;
    margin-right: 30px;
    margin-bottom: 10px;
    border: solid 1px #A8A8A8;
    text-align: center;
    border-radius: 7px;
    font-size: 12px;
    color: #333333;
    padding: 0 5px;
}

.optionone {
    display: flex;
    background-color:  #FFFFFF;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    padding-left: 20px;
    padding-top: 7px;
    align-items: center;
    gap: 15px;
    border: solid 1px #A8A8A8;
    margin-top: 25px;
    
}

.optionone h5, .optionone h3{
    font-size: 15px;
}
.detailslistwrapper{
    position: relative;
    display: inline-block;
}
.detailslistwrapper:hover .detailslist {display: block;}

.detailslist {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 300px;
    right: 0;
    left: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.detailslist li:hover{
    background-color: #e6dcdc;
}
.detailslist li{
    list-style-type: none;
    margin: 10px;
}

.name-tag-holder {
}

.questiontypeoptions{
    position:absolute;
    display:flex;
    flex-direction: column;
}

.questiontypeoptions {
    display: none;
}

/* .innernumberwrapper:active .questiontypeoptions{display: block} */

.iconswrapper {
    position: relative;
    display: inline-block;
  }
  
  .iconswrapper:active .linkswrapper {
    display: block;
    right: auto;
    left: 0;
    top:35px;
  }
  .iconswrapper:active .iconswrapper {background-color: #3e8e41;}
  
  
  .linkswrapper {
    /* display: bloc; */
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .objectivewrapper {
      /* border: 2px solid red;
      padding: 10px 20%; */
      color: #00D9B6;
  
  }

  .nobackgroundcolor{
    border: none;
  }
  .theorywrapper {
      /* border: 2px solid red;
      padding: 10px 20%; */
      color: #00D9B6;
  }
  
  .linkswrapper a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .linkswrapper a:hover{
    background-color: gray;
  }

  .addbuttoninnermainwrapper{
    align-self: center;
    position: absolute;
    right: 40%;
    top: 20%;
    background-color: red;
  }

  .littleaddbtnwrapper{
      margin-top: 15%;
      margin-left:10%;
  }

  .examquestionwrapperinnner {
      width: 85%;
  }
@media screen and (max-width: 768px) {
    .examsmainholder {
    display: grid;
    width: 80vw;
    }
    .examsholderwrapper {
        margin: 10px;
        margin-top: 50px;
        background-color: #FAFAFA;
        padding: 30px 0;
    }
    .detailslist {
        min-width: 250px;
    }
    .middletabwrapper {
        display: grid;
        margin: 0 10px;
    }

    

    .leftsidetabwrapper {
        width: 100%;
        gap: 20px;
        margin: 20px 0;

    }
    .teachersearchwrapper {
        width: 90%;
        margin-left: 15px;
    }

    .righttabwrapper {
        margin-left: 15px;

    }
    .setexammainwrapper {
        display: grid   ;
        justify-content: space-evenly;
        margin: 30px;
        padding: 20px 0;
    }
    .leftsideboxwrapper, .objleftsideboxwrapper {
        width: 100%;
    }
    .examformwrapper {
        margin-top: 30px;
        width: 100% !important;
    }
    .objectivemainwrapper {
        display: grid;
        justify-content: space-evenly;
        width: 100%;
    }

    .examsetupwrapper {
        width: 100%;
        margin-top: 130px;
    }
    .classlistwrapper {
        margin-top: 10px;
        display: grid;
        /* right: 100px;
        top:-120px; */
    }

    .classlistwrapperul li{
        list-style: none;
    }

    .mainformwrapper, .optionwrapper {
        width: 84%;
        margin-left: 17px;
    }
    .optionwrapper {
        width: 94%;
        margin-left: 17px;
    }
}

