.floatImg2{
    right: 0px !important;
    position: absolute !important;
    top: 90px;
}
.floatImg1{
    left: 0px !important;
    position: absolute !important;
    top: 90px;
}
.floatImg3{
    left: 25% !important;
    position: absolute !important;
    top: 59%;

}
.card {
    display: block;
    padding: 30px;
    margin-top: 60px;
    box-shadow: 0 0.5pt 10pt rgb(0 0 0 / 10%);
    border-radius: 5px;
    z-index: 9;
    position: relative;
    width: 40%;
    margin-left: 30%;
    z-index: 99;
}
.card h5 {
    font-family: 'subHeading';
    margin-bottom: 20px;
}
.pushDown{
    margin-bottom: 30px;    
}
.pushUp{
    margin-top: 25px;
}
.pushDown1{
    margin-top: 37px;
}
.socialText {
    display: inline-block;
    vertical-align: top;
    margin-left: 3px;
}
.afterSocialText {
   margin-top: 20px;
}
.socialSection {
    margin-top: -21px;
}

.logoregisterform {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}



@media screen and (max-width: 768px) {
.card {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}
}