.box{

    position: absolute;
    width: 875px;
    height: 1000px;
    left: 282px;
    top: 166px;
    
    background: #FFFFFF;
    
    border-radius: 20px;

}

.button{
    width: 160px;
    height: 45px;
    background: #00D9B6;
    border-radius: 100px;
    color: #FFFFFF;
    border: none;



    left: -320px;
    top: 50px;
    background-position: center;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    Display: flex;
   Justify-content: center;
   align-items: center;
    
    

}

