.videoheropage {
  background: url("../../../../public/assets/img/classroomheroimg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  height: 30vh;
  position: relative;
}
.avatarCoin {
  background-image: url("../../../../public/assets/img/school/person_2\ 1.svg");
  background-repeat: no-repeat;
  border: 2px solid red;
}
.heroInputs {
    box-shadow: 0px 0px 30px 5px rgba(184, 181, 181, 0.15);
    height: 20vh;
    padding: 2% 0 0 2%;
    margin-left: 10%;
    background-color: #ffffff;
}
.heroinputsection{
    position: absolute;
   top: 270px;
    width: 80%;
    margin:0 auto ;
    right:10%
}
.heroInputs h4{
    font-weight: 700;
}
.heroInputs h5{
    margin-right: 5%;

}
.inputdetails{
    display: flex;
    flex-direction: row !important;
    margin-top: 3%;
}
.heading{
    padding-top: 40px ;
    font-family: "subHeading";
}
.heading2{
    padding: 40px 0px 0px 0px ;
    margin-left: 150px;
    font-family: "subHeading";
}
.headingSelect{
    margin-top: 40px ; 
    background-color: #00D9B6;
    width: 212px;
    height: 55px;
    padding: 5px 20px 5px 5px;
    color:#ffffff;
    border: none;
    margin-right: 40% !important;
    border-radius: 12px;
}

.headingImage{
    background: url(/_next/static/media/crownTheme.69b97f37.png);
    background-repeat: no-repeat;
    margin-top: 40px; 
   margin-left: 50% ;
    border-radius: 12px;
}
.subHero{
    margin: 8% 8% 2% 10%;
}
.headingOption{
    background-color: #00D9B6 !important;
}
.schooledit{
    margin-top: 50% !important;
}

.middlelinks {
    position: absolute;
    bottom: 45%;
    left: 38%;
    color: #00D9B6;
}

.middlelinks a {
    margin: 20px;
}